/*
 * @Author: sunsan 2390864551@qq.com
 * @Date: 2023-11-07 20:30:05
 * @LastEditors: sunsan 2390864551@qq.com
 * @LastEditTime: 2023-11-07 20:42:18
 * @FilePath: \hopeEnroll\hope_enroll\src\styles\index.sass
 * @Description: 主題樣式
*/
/* 全局樣式(logo顏色) */
$primary-color: #018E98;
$primary-color-light: #018E98;
$primary-color-dark: #018E98;
/* 全局樣式(背景色) */
$background-color:#F0F1F8;
$background-color-light:#F0F1F8;
$background-color-dark:#F0F1F8;
/* 全局樣式(文字顏色) */
$text-color:#414141;
$text-color-light:#414141;
$text-color-dark:#414141;
/* 全局樣式(邊框顏色) */
$border-color:#E5E5E5;
$border-color-light:#E5E5E5;
$border-color-dark:#E5E5E5;
