* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: '黑体', SimSun, sans-serif; 
}

/* observer test style */

/* 由下往上 */
.flag {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
    /* transform: translateX(-100%); */
    transform: translateY(100%);
}

.active {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0);  */
    transform: translateY(0);
}

/* 由左往右 */
.flag {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
    /* transform: translateX(-100%); */
}

.active {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0);  */
}
